* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    background-color: #11BFBF;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    flex-wrap: wrap;
    background-color: #14D9D9 !important;
    color: #F2F2F2 !important;
    border: 2px solid #11BFBF;
    border-radius: 5px;
    padding: .3rem 3rem !important;
    margin: 1rem .5rem .5rem 0 !important;
}

.title {
    margin-bottom: 40px;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #F2F2F2;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#guess {
    border: 2px solid  #14D9D9;
    background-color: #F2F2F2;
    color: #14D9D9;
    border-radius: 5px;
    padding: .2rem 2rem;
}