* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100%;
    background-color: hotpink !important;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.background-wrapper {
    margin-top: 100px;
}

