* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue";
  font-size: 2rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  border: 2px solid #11BFBF;
  margin: 2rem;
  background-color: #14D9D9;
  color: purple;
}